body {
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 80px;
}

body.light {
  background-color: white;
}

body.light {
  .hello, .im, .name, .work-skill, .contactme {
    color: black;
  }

  .contactme {
    background-color: white;
    border: 1px solid black;
  }

  .contactme:hover {
    background-color: rgb(116, 115, 115);
  }

  .abt-tag, .text-cont {
    color: black;
  }

  .skill-body, .skill-txt, .skill-txt2 {
    color: black;
  }

  .project-txt {
    color: black;
  }

  .pro {
    background-color: white;
    color: black;
  }

  .contact-txt, .let-chat, .tell-me {
    color: black;
  }
}

.slide-in.visible {
  opacity: 1;
}

.top-slide-in {
  transform: translateY(-100px);
  transition: transform 1s, opacity 1s;
}

.top-slide-in.visible {
  transform: translateY(0);
}

.bottom-slide-in {
  transform: translateY(100px);
  transition: transform 1s, opacity 1s;
}

.bottom-slide-in.visible {
  transform: translateY(0);
}

.left-slide-in {
  transform: translateX(-100px);
  transition: transform 1s, opacity 1s;
}

.left-slide-in.visible {
  transform: translateX(0);
}

.right-slide-in {
  transform: translateX(100px);
  transition: transform 1s, opacity 1s;
}

.right-slide-in.visible {
  transform: translateX(0);
}